/* iFrame styling
-------------------------------------------------- */

.iframeContainer {
  overflow: hidden;
  position: relative;
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
