body {
  font: normal normal 12px/24px var(--ShermanSans);
  color: var(--white);
  background-color: var(--bgColor);
}

header,
footer {
  padding: var(--spacer-L);
  background-color: var(--black);
  border: var(--grid-border);
}

h1 {
  margin-top: var(--spacer-L);
  display: inline-block;
  vertical-align: middle;
  font: normal bold 24px var(--ShermanSans);
}

h2 {
  padding: var(--spacer) 0;
  text-align: center;
  font: 16px/26px var(--ShermanSans);
}

h3 {
  padding: var(--spacer) var(--spacer-L);
  font: 14px/26px var(--ShermanSans);
}

h4 {
  display: inline;
  margin-right: var(--spacer);
}

a {
  text-decoration: none;
  color: var(--orange);
}

a:hover {
  color: var(--lightBlue);
}

header img {
  max-width: 50%;
  vertical-align: middle;
  padding-right: var(--spacer-L);
}

footer img {
  max-width: 70%;
  vertical-align: middle;
}

/* 600px and up
-------------------------------------------------- */
@media only screen and (min-width: 600px) {
  h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  header img {
    max-width: 30%;
    padding: 0;
  }

  footer img {
    max-width: 35%;
  }
}

/* 1000px and up
-------------------------------------------------- */
@media only screen and (min-width: 1000px) {
  h1 {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 28px;
  }

  header img {
    max-width: 20%;
    padding: 0;
  }

  footer img {
    max-width: 25%;
  }
}
